/* 
    Created on : 03/04/2017, 20:08:26
    Author     : eduardo
*/

.navbar {
    background-color: #090;
    border-color: #030;
    color: #fff;
}

navbar-header {
    
}

footer.container-fluid.text-center {
    margin: 20px 0px;
}
tr.edit-field > td {
    padding-bottom: 1em;
}
tr.list-odd {
    background-color: #ddd;
}