/* 
    Created on : 03/04/2017, 20:08:26
    Author     : eduardo
*/

table .lista {
    width: 100%;
}

.tablerow > td, th {
    padding: 5px;
}

.navbar {
    background-color: #090;
    border-color: #030;
    color: #fff;
}

a {
    color: green;
}

footer.container-fluid.text-center {
    margin: 20px 0px;
}
tr.edit-field > td {
    padding-bottom: 1em;
}
tr.list-odd {
    background-color: #ddd;
}