/DSWBD/04.CadUserWeb/CadastroEduardoUser/nbproject/private/
/MMQSPP/03.TemplateMethod/TemplateMethod/nbproject/private/
/MMQSPP/03.TemplateMethod/TemplateMethod/build/
/DSWBD/04.CadUserWeb/ProjetoEduardo/nbproject/private/
/DSWBD/04.CadUserWeb/ProjetoEduardo/build/
/SD/03. N1 MergeSort/MergeSort/nbproject/private/
/SD/03. N1 MergeSort/MergeSort/build/
/DSWBD/05. N1 IntraFloricultura/IntraFloricultura/nbproject/private/
/DSWBD/05. N1 IntraFloricultura/IntraFloricultura/build/
/MMQSPP/04. Iterator Multi Estrutura/Exe4 - Iterator/nbproject/private/
/MMQSPP/04. Iterator Multi Estrutura/Exe4 - Iterator/build/
/MMQSPP/05. Adapter/Exe5 - Adapter/nbproject/private/
/MMQSPP/05. Adapter/Exe5 - Adapter/build/
/MMQSPP/06. Decorator/Exe6 - Decorator/nbproject/private/
/MMQSPP/06. Decorator/Exe6 - Decorator/build/